main {
  background-color: whitesmoke;
}

.shrinkCarousel {
  width: 500px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .info {
    padding-top: 100px;
  }
}

:root {
    --background1: #D9F0FF;
    --background2: #A3D5FF;
    --background3: #49D49D;
    --secondary1: #558564;
    --secondary2: #564946;
    --Text1: #7681B3;
    --Text2: #6F73D2;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

body {
  background-color: var(--background2);
}