* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}
:root {
    --background1: #D9F0FF;
    --background2: #A3D5FF;
    --background3: #49D49D;
    --secondary1: #558564;
    --secondary2: #564946;
    --Text1: #7681B3;
    --Text2: #6F73D2;
}

body {
  background-color: var(--background2);
}

h1 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Text2);
}

p {
    font-weight: 300;
}

header {
    position: ;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--background1);
    font-weight: 300;
    padding: 5px;
    justify-content: center;
}

header h1 {
    padding-right: 40px;
    border-right: 1px solid gray;
}

header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: 40px;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

header li {
    align-self: center;
    text-decoration: none;
}

header li :hover {
    text-decoration: underline;
    color: #64829b;
}

.content {
    padding: 60px 35px;
    background-color: var(--background1);
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 28%;
    background-color: white;
    color: var(--Text1);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 15px;
    min-width: 280px;
}

.card h2 {
    font-size: 1.5em;
}

button {
    width: 50%;
    background-color: gray;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: gray;
    color: white;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 15px;
}

footer a {
    color: white;
}

footer div {
    margin: 20px;
}

@media screen and (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    footer {
        grid-template-columns: 1fr;
    }
    header {
        flex-direction: column;
    }
    header * {
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
    header h1 {
        border: none;
        padding: 0;
    }
    header ul {
        margin: 0 auto;
    }
    .content {
        flex-direction: column;
        margin: 0 auto;
        padding: 20px 0;
    }
    .card {
        margin: 0 auto;
    }
    #homepage_fruit {
        margin-top: 100px;
    }
    .info {
        margin-top: 100px;
    }
    .business_information {
        grid-row: 3;
    }
    ul{
      margin-left: 20px;
    }
    
  
}
.apple {
      margin: 0 auto;
      display: block;
      width: 500px;
      height: 500px;
    }